<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static', filename='build/pdf.mjs')}}" type="module"></script>
    <script src="{{url_for('static', filename='build/pdf.worker.mjs')}}" type="module"></script>
</head>
<body>
    <canvas id="canvas"></canvas>
    <div>
        <input type="text">
        <button>Print</button>
        <button>Upload new</button>
    </div>
<script type="module">
var loadingTask = pdfjsLib.getDocument("{{url_for('static', filename=file)}}");
  loadingTask.promise.then(function(pdf) {
    console.log('PDF loaded');

    // Fetch the first page
    var pageNumber = 1;
    pdf.getPage(pageNumber).then(function(page) {
      console.log('Page loaded');

      var scale = 1;
      var viewport = page.getViewport({scale: scale});

      // Prepare canvas using PDF page dimensions
      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      // Render PDF page into canvas context
      var renderContext = {
        canvasContext: context,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);
      renderTask.promise.then(function () {
        console.log('Page rendered');
      });
    });
  }, function (reason) {
    // PDF loading error
    console.error(reason);
  });
  </script>
</body>
</html>